services:
  database:
    image: mysql:8.0
    container_name: example-database-1
    environment:
      MYSQL_ROOT_PASSWORD: r00t
      MYSQL_USER: tao
      MYSQL_PASSWORD: tao
      MYSQL_DATABASE: tao
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    volumes:
      - example_mysql_data:/var/lib/mysql
    networks:
      - tao-network

  tao:
    build: .
    image: tao-custom:latest
    container_name: example-tao-1
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "9000:9000"
    environment:
      DOCKER_COMPOSE_WAIT_HOSTS: "database:3306"
      DB_HOST: "database"
      DB_PORT: "3306"
      DB_NAME: "tao"
      DB_USER: "tao"
      DB_PASSWORD: "tao"
    volumes:
      - example_tao_code:/var/www/html
    networks:
      - tao-network

  web:
    image: nginx:1.19
    container_name: example-web-1
    depends_on:
      - tao
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - example_tao_code:/var/www/html:ro
    networks:
      - tao-network

volumes:
  example_mysql_data:
  example_tao_code:

networks:
  tao-network:
    driver: bridge
